  .futbol-page {
    font-family: "Inter", sans-serif;
    width: 100vw;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    overflow-x: hidden;
    position: relative;
  }

  .main-content {
    flex: 1;
    padding: 1rem;
    text-align: center;
  }

  
  