  .futbol-page {
    font-family: "Inter", sans-serif;
    width: 100vw;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    overflow-x: hidden;
    position: relative;
  }

  .main-content {
    flex: 1;
    padding: 1rem;
    text-align: center;
  }

  .sc-gEvEer {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  }

  .sc-gEvEer div {
    font-size: 12px;
    color: #bbb;
  }
    