
.sports-icons-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
  }
  
  
  .sports-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000; 
    transition: all 0.3s ease; 
    cursor: pointer;
  }
  
  .sports-icon:hover {
    background-color: #018e38; 
    transform: scale(1.2); 
  }
  
  
  .sports-icon-img {
    width: 70px;
    height: 70px;
    filter: invert(1); 
    transition: all 0.3s ease;
  }  